<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp.Properties.Settings.SQLConnection" connectionString="Data Source=TOASTER2\FINANCIALDB;Initial Catalog=StaffContacts;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>